scratch.R
.Rproj.user
data/**/*.csv
data/parent_dir/*
data/output/*
data/regional_*/*
docs
inst/doc
inst/resources/*.pdf
inst/resources/lookup/*.csv
inst/dev/*.html
inst/analyses/output/*.html
inst/analyses/output/*.docx
inst/analyses/output/*.png
